@import url('http://fonts.cdnfonts.com/css/matrix');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url("../imagens/codificador.png");
    background-size: cover;
    background-color: rgba(0, 255, 13, 0.671);
    font-family: OCR A Std, monospace;
    width: auto;
    height: auto;
  }
  
  .main {
    background-size: 100%;
    padding: 200px 0px 180px;
    display: flex;
    justify-content: center; 
  }
  
  .box {
    padding: 20px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    background-color: white;
    border-radius: 0.5em;
    width: 45vw;
    height: auto;
  }
  
  .btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: rgb(17, 153, 40);
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.5em;
    cursor: pointer;
  }

.btn:hover{
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes botao{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }

}
  
  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(7, 214, 18, 0.938);
    display: block;
    padding: 0.5em;
    width: 100%;
    height: 50px;
  }
  
  footer {
    background-color: rgba(0, 255, 13, 0.671);
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    
  }

  .titulo {
        font-family: 'Matrix', sans-serif;
        src: url('../font/matrix.ttf') format('ttf'),
        url('../font/matrix.ttf') format('truetype'),    
        text-align: center;
        font-size: 31px;
        color:black;
        font-weight: bold;
        font-style: normal;
        background-color: rgba(0, 255, 13, 0.671);
        padding: 10px;
        width: center;
        margin-top: auto;
        text-align: center;
        padding: 5px;
        width: center;
        margin-top: auto;   
  }
